.navbarwrapper {
    font-family: 'ZonaPro-Bold';
    font-weight: bold !important;
    font-size: 20px;
    background-color: #ffffff !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    scroll-padding-top: 120px;
}


@media screen and (min-width:320px) and (max-width:480px){
    .logo{
        width: 100%;
    }
    .wrapper_inner{
        flex-wrap: wrap !important;
    }
}